.home {
    .home-box {
        width: 200px;
        box-shadow: #d9d9d9 5px 5px 5px;
        border: 1px solid #d9d9d9;
        margin: 24px;
        cursor: pointer;
        display: inline-block;
        .home-box-img {
            height: 200px;
            width: 100%;
        }
        .home-box-text {
            text-align: center;
            line-height: 30px;
        }
    }
}