
.first-ui {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    > li {
        height: 50px;
        background-color: aquargba(2,39,76,0.5);
        list-style:none;
        padding:0;
        margin:0;
        border: 1px #013a73 solid;
        text-align: center;
        line-height: 50px;
       
    }
    h3 {
        color: azure;
    }
}

