.big-data-right {
    position: absolute;
    top: 91px;
    right: 22px;
    bottom: 0px;
    min-width: 349px;
    width: 20%;
    font-family: PingFangSC-Medium, PingFang SC;
    background: rgba(44, 212, 249, 0.1);
    .header-wrap {
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        border-top: 4px solid #0E83DE;
        // border-bottom: 4px groove #0E83DE;
        .header {
            height: 52px;
            width: 100%;
            background: rgba(14, 131, 222, 0.35);
            border-top: 4px solid #0E83DE;
            font-size: 28px;
            font-weight: 500;
            color: #FFFFFF;
            padding-left: 10px;
        }
        .content {
            width: 100%;
            font-weight: 600;
            padding-left: 10px;
            margin: 15px 0px 15px 0px;
            .wrap-L {
                font-size: 30px;
                font-weight: 600;
                display: flex;
                color: #2CD4F9;         
                flex-direction: column;
                text-align: center;
                .unit {
                    font-size: 10px;
                    font-weight: 400;
                }
                .text {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
            .wrap-R {
                font-size: 30px;
                font-weight: 600;
                color: #53B5FF;
                display: flex;
                flex-direction: column;
                text-align: center;
                .unit {
                    font-size: 10px;
                    font-weight: 400;
                }
                .text {
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
    .content-wrap {
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        border-top: 4px solid #0E83DE;
        // border-bottom: 4px groove #0E83DE;
        .header {
            height: 33px;
            width: 100%;
            background: rgba(14, 131, 222, 0.35);
            border-top: 4px solid #0E83DE;
            font-weight: 500;
            color: #FFFFFF;
            padding-left: 10px;
            font-size: 18px;
            display: flex;
            justify-content: space-between;
            .btn-wrap {
                position: relative;
                width: 25%;
                height: 100%;
                .btn-text {
                    font-size: 8px;
                    font-weight: 400;
                    background: rgba(255, 255, 255, 0.13);
                    border: none;
                    color: #0E83DE;
                    transform: scale(0.66) translateX(-87%);
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    &:hover {
                        background: #123352;
                        z-index: 1;
                    }
                }
                .btn-text-select {
                    font-size: 8px;
                    font-weight: 400;
                    border: none;
                    transform: scale(0.66);
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                }
            }
        }
        .list-wrap {
            height: calc(100% - 197px);
            width: 100%;
            position: absolute;
            .list {
                list-style: none;
                padding: 0px;
                margin: 0px;
                width: 100%;
                height: 100%;
                overflow-y: hidden;
                .list-li {
                    margin-bottom: 6px;
                    cursor: pointer;
                    border: 1px solid #0E83DE;
                    .wrap {
                        height: 40px;
                        background: rgba(25, 194, 180, 0.1);
                        .rank {
                            height: 100%;
                            overflow: hidden;
                            padding-left: 4px;
                            line-height: 20px;
                            width: 85%;
                            .rank-text {
                                font-size: 21px;
                                font-weight: 500;
                                color: #FFFFFF;
                            }
                        }
                        .place {
                            font-size: 14px;
                            font-weight: 400;
                            color: #FFFFFF;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .number {
                            font-size: 24px;
                            font-weight: 500;
                            color: #FFFFFF;
                            transform: scale(0.66);
                            .unit {
                                width: 8px;
                                height: 11px;
                                font-size: 8px;
                                font-family: PingFangSC-Regular, PingFang SC;
                                font-weight: 400;
                                color: #FFFFFF;
                                line-height: 11px;
                                transform: scale(0.66);
                            }
                        }
                        .pencent {
                            font-size: 24px;
                            font-weight: 500;
                            color: #F7B500;
                            transform: scale(0.66);
                            .unit {
                                width: 10px;
                                height: 14px;
                                font-size: 10px;
                                font-family: PingFangSC-Regular, PingFang SC;
                                font-weight: 400;
                                color: #F7B500;
                                line-height: 14px;
                                transform: scale(0.66);
                            }
                        }
                    }
                    .drop-wrap {
                        animation: drop-wrap ease-in-out 1s;
                        margin-bottom:-1px;
                        overflow: hidden;
                        display: none;
                        border-top: 1px solid #0E83DE;
                        background: rgba(25, 194, 180, 0.1);
                        padding: 0px 19px;
                        .wrap-LL {
                            font-size: 30px;
                            color: #FF2200;
                            font-weight: 600;
                        }
                        .wrap-LM {
                            font-size: 12px;
                            color: #FF2200;
                            display: flex;
                            flex-direction: column;
                            text-align: left;
                            display: flex;
                        }
                        .wrap-M {
                            color: #FFFFFF;
                            font-size: 30px;
                        }
                        .wrap-MR {
                            color: #FFFFFF;
                            font-size: 30px;
                            font-weight: 600;
                        }
                        .wrap-RR {
                            font-size: 12px;
                            color: #FFFFFF;
                            display: flex;
                            flex-direction: column;
                            text-align: left;
                            display: flex;
                        }
                        .droplist-li {
                            padding: 7px 0px;
                            border-bottom: 1px solid #0E83DE;
                            .L {
                                font-size: 14px;
                                font-weight: 600;
                                color: #FFFFFF;
                            }
                            .M {
                                font-size: 12px;
                                font-weight: 400;
                                .text-L {
                                    color: #F5222D;
                                }
                                .text-M {
                                    color: #FFFFFF;
                                }
                                .text-R {
                                    color: #FFFFFF;
                                }
                            }
                            .R{
                                font-size: 16px;
                                font-weight: 500;
                                color: #F7B500;
                                .text-R {
                                    font-size: 10px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                    &:hover {
                        .wrap {
                            background: rgba(14, 131, 222, 0.35);
                            // .rank-text {
                            //     font-size: 29px;
                            //     font-weight: 600;
                            //     transition: font-size 0.5s ease;
                            // }
                        }
                        // .place {
                        //     font-size: 29px;
                        //     font-weight: 600;
                        //     color: #FFFFFF;
                        //     transition: font-size 0.5s ease;
                        // }
                    }
                }
                &:hover {
                    overflow-y: auto;
                }
            }
        }
    }
    @keyframes drop-wrap{   
        0%{ 
            max-height: 0px;
        }   
        100%{   
            max-height: 500px;
        }   
    } 
    ::-webkit-scrollbar{
        width: 1px;
        height: 0px;/* 横向滚动条 */
    }
    
    /*定义滚动条轨道 内阴影*/
    ::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px rgba(0,0,0,0);
        background-color: #fff;
    }
    
    /*定义滑块 内阴影*/
    ::-webkit-scrollbar-thumb{
        border-radius: 3px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0);
        background: rgba(24, 144, 255, 0.5);  
    }
}