.video-content {
    .video-react .video-react-big-play-button{
        font-size: 3em;
        line-height: 2em;
        height: 2em;
        width: 2em;
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 0;
        cursor: pointer;
        opacity: 1;
        border: 0.06666em solid #fff;
        background-color: rgba(43, 51, 63, 0.7);
        transition: all 0.4s;
        border-radius: 124px;
        margin-top: 20%;
        margin-left: 40%;
    }
}